<!DOCTYPE html>
<html>
  <head>
    <title>First-Post.txt</title>
    <link rel="stylesheet" href="template.css">
  </head>
  <body>
    <div>
    <h1> MakeSite</h1>
    </div>
    <p>{{.Paragraphs}}</p>
  </body>
</html>
